.bar {
  position: relative;
  width: 100px;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: flex-end; */
  font-size: 22;
  border-top-left-radius: 4;
  border-top-right-radius: 4;
  font-weight: bold;
  transition: all 0.2s ease-out;
}

.barText {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  border-radius: 50px;
  padding: 4px;
  font-size: 20px;
}
