*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
  text-align: center;
  min-height: 100vh;
  background-color: black;
  overflow: hidden;
  /* display: flex; */
}

.bar__container {
  position: relative;
  height: 80vh;
  /* max-width: 1200px; */
  /* margin-left: auto; */
  /* margin-right: auto; */
  display: flex;
  align-items: flex-end;

  /* REMOVE */
  padding-inline: 30px;
  height: 100vh;
  min-width: 0;
  transition: 0.5s ease-in-out;
  transition-delay: 0.1s;
}

.sidebar {
  position: relative;
  padding-inline: 20px;
  padding-block: 30px;
  padding-top: 60px;
  background-color: #1d1d1d;
  /* border-right: 4px solid var(--primary); */
  color: white;
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 22.5rem;
  z-index: 10;
  overflow-y: auto;
  user-select: none;
  transition: left 0.5s ease-out;
  transition-delay: 0.2s;
}

.sidebar::after {
  content: "";
  position: absolute;
  right: 0;
  width: 3px;
  height: 100%;
  background-color: var(--primary);
}

.sidebar::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #3d3c3c;
  border-radius: 10px;
}
